body {
  background-color: aliceblue;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 70px;
}

header nav {
  padding-top: 40px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 55px;
  font-size: 50px;
}

header a {
  color: white;
  display: inline-block;
}

img:hover { 
    opacity: 1; 
  } 

img {
  height: 400px;
  width: 400px;
  opacity: 0.7;
} 
/* ^I meant to style the opacity after the mock up, though I managed to do it in reverse, with the cursor causing images to become more opaque, and fade away as you hovered off the image. I did not know how to reverse this. I also do not know how to isolate my profile pic to avoid this hovering effect. */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 50px;
  background-color: lightblue;
  width: 300px;
  height: 350px;
} 
/* ^This ended up becoming the syntax for my profile picture, though I meant to create a dedicated line for it. Is there a way for me to do this in css without throwing a wrench in things? */

main section h2 {
  font-size: 65px;
}

p {
  font-size: 25px;
}

.card-1 {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 700px;
    height: 700px;
} 
/* This represents my top image, which is meant to be bigger than the rest per the AC. Though the card as a whole is bigger, the picture itself is the same. I do not know why this is, and have not managed to find an answer so far. */

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 
/* I attempted a flexbox pattern to affect the cards under my work section, though I was not able to have them pull up in the alternating grid pattern I wanted. */


.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

a {
  font-size: 40px;
}

.contact-me ul li {
    font-size: 40px;
    float: bottom;
    padding-left: 50px;
    list-style-type: none;
} 
/* I wanted to create a horizontal list w my contact info, similar to the mockup. I tried floating left/right to do this, but it caused issues with my h2 tag "Resume", causing it to collide up next to the list. I ended up settling for a bottom floating list to avoid this issue. */